<mat-toolbar class="navbar">
        <a mat-button><img src="https://github.com/ABADINE-Meriem/angular-project/raw/master/src/assets/img/icon-menu1.png"></a> 
        <a href="/"title="YouTube Home"><img src="https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/logo-youtube1.png"/></a> 

        <div class="search">
              <input type="text" placeholder="Search">
              
              <button title="Search"><img src="https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/icon-search.png"/></button>
              

        </div>
     
        <div class="spacer"></div>
        <a mat-button routerLink="services" title="Create a video or post"><img src="https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/icon-add-video.png"/></a>
        <a mat-button routerLink="projects" title="YouTube apps"><img src="https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/icon-squared-menu1.png"/></a>
        <a mat-button routerLink="aboutus" title="Notifications"><img src="https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/icon-notification1.png"/></a>
        <a mat-button color="accent" routerLink="signup"><img src="https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/icon-account.png"/></a>
     
</mat-toolbar>
     
