.all{
    width: 100%;
    height: 45vw;
    background-image: url("https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/cinema1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vw;
    transform: translateY(-3.5vw);
}
