.card{
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/ABADINE-Meriem/angular-project/master/src/assets/img/cinema.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vw;
  
  }
  
.container{
    overflow-y: scroll;
    min-width: 300px;
    height:300px;
}
